.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  max-width: 1305;
}

.left-section {
  display: flex;
  align-items: center;
  margin-right: 102px;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px ;
  cursor: pointer;
}

.youtube-case {
  position: relative;
  display: flex;
}

.tooltip1 {
  position: absolute;
  right: -80px;
  bottom: -24px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  font-family: Calibri, Arial;
  font-size: 13px;
  white-space: nowrap;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 7px;
  padding-right: 7px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}

.sidebar-link:hover .tooltip1,
.youtube-case:hover .tooltip1 { 
  opacity: 1;
}

.youtube-logo {
  margin-top: 5px;
  width: 90px;
  cursor: pointer;
}

.middle-section {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 669px;
  margin-left: 70px;
  margin-right: 35px;
}

.Search-bar {
  flex: 1;
  width: 0px;
  height: 36px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-top-left-radius : 100px;
  border-bottom-left-radius: 100px;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.05);
  padding-left: 14px;
  font-family: Roboto, Arial;
  outline: none;
}

.Search-bar:focus {
  border: 1px solid rgb(57, 57, 255);
}

.Search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
  color: rgb(126, 126, 126);
}

.tooltip-container,
.search-icon-button, 
.voice-icon-button {
  position : relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip2 {
  position: absolute;
  bottom: -40px;
  background-color: rgb(119, 119, 119);
  font-size: 12px;
  color: white;
  padding: 7px;
  white-space: nowrap;
  pointer-events: none;
  border-radius: 5px;
  opacity: 0;
}

.tooltip-container:hover .tooltip2,
.search-icon-button:hover .tooltip2, 
.voice-icon-button:hover .tooltip2 {
  opacity: 1;
}

.search-icon-button {
  height: 40px;
  width: 64px;
  background-color: rgb(251, 251, 251);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  margin-left: -2px;
  margin-right: 15px;
  border-radius: 0px 32px 32px 0px;
  cursor: pointer;
}

.voice-icon-button {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: none;
  background-color: rgb(246, 246, 246);
  cursor: pointer;
}

.search-icon-button:hover, 
.voice-icon-button:hover {
  background-color: rgb(211, 211, 211);
}

.search-icon-button:active, 
.voice-icon-button:active {
  background-color: rgb(201, 201, 201);
}

.search-icon {
  height: 25px;
  margin-top: 4px;
}

.voice-icon {
  height: 24px;
  margin-top: 4px;
  margin-left: 1px;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 164px;
  margin-left: 115px;
  flex-shrink: 0;
}

.upload {
  width: 24px;
  cursor: pointer;
}

.notifications-container {
  display: flex;
  position: relative;
}

.notifications {
  width: 24px;
  margin-right: 6px;
  cursor: pointer;
}

.Channel-picture {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 30px;
  cursor: pointer;
}

@media (max-width:815px) {
  .Search-bar {
    display: none;
  }

  .left-section,
  .middle-section,
  .right-section {
    margin: 0px;
  }
  
  .search-icon-button {
    margin-left: auto;
  }

  .middle-section {
    margin-right: 15px;
    margin-left: 15px;
  }

  .search-icon-button,
  .voice-icon-button {
    background-color: white;
    border: none;
  }

  .voice-icon-button {
    margin-left: -25px;
  }

  .right-section {
    width: 150px;
  }
}

.some-titles {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: white;
  position: fixed;
  top: 52px;
  left: 95px;
  right: 0;
  z-index: 100;
  
}

.stitles-button {
  border: none;
  background-color: rgb(240, 240, 240);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 13px;
  padding-right: 13px;
  font-family: Roboto, Arial;
  font-weight: 600;
  font-size: 14px;
  color: rgb(53, 53, 53);
  transition: background-color 0.15s;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 15px;
  flex-shrink: 0;
}

.stitles-button:hover {
  background-color: rgb(228, 228, 228);
}

.stitles-button:active {
  background-color: black;
  color: white;
}

.precedent-button,
.next-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  font-family: 'Times New Roman';
  font-size: 17px;
  font-weight: 100;
  cursor: pointer;  
  flex-shrink: 0;
}

.precedent-button:hover,
.next-button:hover {
  border: none;
  background-color: rgb(230, 230, 230);
}

.precedent-button:active,
.next-button:active {
  border-width: 1px;
  background-color: rgb(215, 215, 215);
  border-color: rgb(200, 200, 200);
  border-style: solid;
}


.precedent-button {
  margin-right: 7px;
}

.precedent, 
.next {
  transform: scaleY(2);
}

.precedent {
  margin-right: 2px;
}
